body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    background-color: white;
    color: black;
}
.mainLogo {
    justify-content: flex-start;
    padding: 1%;
}
/*Style de la bannière*/
.mainBanner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/mainBanner.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 15%;
    margin: 0;
    color: white;
    border-bottom: 3px solid yellow;
}
.homePage h3 {
    margin: 0;
}
.homePage {
    background-color: black;
    padding: 3%;
    text-align: center;
}
/*Effets sur les liens de navigation*/

.navLinks {
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
    gap: 2%;
}
.navLinks a {
    font-size: large;
}
.mainNavbar {
    display: flex;
    align-items: center;
    padding: 1%;
    background-color: black;
    color: white;
    border-bottom: 3px solid yellow;
}

.profileCategory {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: large;
    background-color: black;
    color: white;
    margin: 0;
    width: 100%;
}

button {
    align-self: center;
    background-color: yellow;
    margin: 1%;
    border-style: none;
    border-radius: 5px;
    font-size: large;
    padding: 1%;
}
.categoryName,
.profileCategory h3 {
    text-decoration: underline;
}

.creationForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: black;
    color: white;
}
.creationForm label {
    padding: 1%;
}
.creationForm textarea {
    resize: none;
}

/* Media queries*/
@media screen and (max-width: 800px) {
    .mainNavbar {
        flex-direction: column;
    }
    .navLinks {
        flex-direction: column;
        align-items: center;
    }
}
